/* Regole generali pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

a{
    text-decoration: none;
    color: white;
}

/* reagole header */

header{
    background-color: orangered;
    color: white;
    width: 100%;
    border-bottom: 1px solid gray;
    box-shadow: 0 0 10px 0 gray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 600;
}

#logo{
    width: 20%;
    height: auto;
    color: white;
}

#main-nav{
    height: 100px;
    padding: 0 15%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

#main-nav ul{ 
    list-style-type: none;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

/* Regole main */
#container{
    padding: 150px 15%;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.product{
    width: 32%;
    margin-bottom: 20px;
    color: black;
    position: relative;
    cursor: pointer;
    /* DEBUG 
    min-height: 200px;*/
}

.product img {
    max-width: 100%;
    height: auto; /* non essenziale dato che lo fa automaticamente senza scriverlo */
}

/* Label */
.label{
    position: absolute;
    bottom: 20%;
    left: 0;
    z-index: 500;
}

.discount-label{
    background-color: red;
    color: white;
    padding: 5px;
    display: inline-block;
}

.sostenibility-label{
    background-color: green;
    color: white;
    padding: 5px;
    display: inline-block;
}

/* Prezzo */
.price{
    text-decoration: line-through;
    display: inline-block;
}

.sale-price{
    display: inline-block;
    color: red;
    font-weight: bold;
}

/* Effetto hover foto */
.hover-img:hover.first{
    content: url('../img/1b.webp');
}

.hover-img:hover.second{
    content: url('../img/2b.webp');
}

.hover-img:hover.third{
    content: url('../img/3b.webp');
}

.hover-img:hover.fourth{
    content: url('../img/4b.webp');
}

.hover-img:hover.fiveth{
    content: url('../img/5b.webp');
}

.hover-img:hover.sixth{
    content: url('../img/6b.webp');
}
/* Effetto hover heart */
.heart{
    color: black;
    background-color: white;
    padding: 5px 15px;
    margin-top: 5px;
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 500;
}

.heart:hover{
    display: inline-block;
    color: red;
}

/* Footer */
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

#footer-info-text{
    padding: 2% 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#footer-rights{
    list-style-type: none;
    gap: 10px;
    display: flex;
    flex-direction: row;
}

#footer-info-iconstext{
    padding: 2% 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#footer-icon{
    list-style-type: none;
    gap: 10px;
    display: flex;
    flex-direction: row;
}